body{
    background-color: rgb(254, 244, 234);
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: garamond, serif;
}


nav{
    background-color: rgb(200, 180, 150);
    font-size: 1.5rem;
    padding: 20px;
    text-align: right;
}